<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>GalaYaki</title>
<script src="/public/js/tailwindcss.js"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        colors: {
          primary: '#9333EA',
          secondary: '#A855F7',
        }
      }
    }
  }
</script>
<link rel="stylesheet" href="/public/css/main.css" />
<link rel="stylesheet" href="/public/css/slick.css" />
<link rel="stylesheet" href="/public/css/slick-theme.css" />